@model Oboryd
@{
    ViewBag.Title = "oboryd_edit";
}
@using (Html.BeginForm())
{
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        <p>
            @Html.LabelFor(m => m.Model_oboryd, "Модель оборудования")
            <br />
            @Html.EditorFor(m => m.Model_oboryd)
            <br />
            @Html.LabelFor(m => m.Firma_oboryd, "Фирма оборудование")
            <br />
            @Html.EditorFor(m => m.Firma_oboryd)
        </p>
        <p><input type="submit" value="Редактировать" /></p>
    </fieldset>
}
