@model Vid_rabot
@{
    ViewBag.Title = "vid_rabot_edit";
}



@using (Html.BeginForm())
{
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        <p>
            @Html.LabelFor(model => model.Name_vid_rabot, "Название работы")
            <br />
            @Html.EditorFor(model => model.Name_vid_rabot)
            <br />
            @Html.LabelFor(model => model.Cost_vid_rabot, "Цена работы")
            <br />
            @Html.EditorFor(model => model.Cost_vid_rabot)
            <br />
            <br />
        </p>
        <p><input type="submit" value="Редактировать" /></p>
    </fieldset>
}
    

